#app {
  margin-top: 40px;
}

#progressInput {
  margin: 20px auto;
  width: 30%;
}

.circleBackground,
.circleProgress {
  fill: none;
}

.circleBackground {
  stroke: #ddd;
}

.circleProgress {
  stroke: green;
  stroke-linecap: round;
  stroke-linejoin: round;
  &.break{
    stroke: red;
  }
}

.circleText {
  font-size: 3em;
  font-weight: bold;
  fill: green;
  user-select: none;
  &.break {
    fill: red;
  }
}