.container {
  display: flex;
  justify-content: center;
  > div > div> div > input{
    padding: 10px 10px;
    margin: 8px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
}

.input{
  padding: 10px 10px;
  margin: 8px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submitBtn{
  background-color: #f29a9a;
  color: black;
  font-size: 16px;
  padding: 0px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}