.deleteIcon{
  cursor: pointer;
  padding-right: 10px;
  text-align: center;
  width: 0px;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}

.container{
  display: flex;
  flex-direction: row;
  background: #fff;
  height: 40px;
  line-height: 40px;
  color: #666;
  &:hover > .deleteIcon{
    width: fit-content;
    opacity: 1;
  }
  &.complete{
    color: gray;
    text-decoration: line-through;
  }
  &.notComplete{
    color: black;
  }
}

.title{
  cursor: pointer;
}